img {
    width: 130px;
    height: 130px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}

p {
    width: 130px;
    /* vertical-align: middle; */

}

.objectSpan {
    display: inline-grid;
    border-radius: 20px;
    margin: 4px;
    border: 2px solid black;
    vertical-align: middle;
background-color: grey;
}